body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}
.black {
    background-color: black;
    height: 250px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 120px;
    font-size: 20px;
}
